h1 {
    text-align: center;
}


.rib-tree {
    padding: 5px;
    background-color: #ccc;
}
.rib-tree-branch-element-base {
    padding: 5px;
}
.rib-tree-branch-element-base a {
    text-decoration: none;
    color: #606060;
    font-size: 2em;
}
.rib-tree-branch {
    margin: 5px;
}
.rib-tree-branch-element {
    padding: 5px;
    font-size: 1.2em;
}
.rib-tree-branch-element a {
    text-decoration: none;
    color: #666;
}
.rib-tree-branch-element.leaf {
    border: 0px;
    color: #888;
}
.rib-tree-branch-toggle {
    font-size: 1.2em;
}
.rib-tree-branch-content {
    margin-left: 5px;
}
.rib-tree-branch-content:last-child {
    border-bottom: solid 1px #aaa;
}